@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.banner{
    text-align: center;
}
.header-menu1{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: white;
    height: 25px;
    cursor: pointer;
}
.nav-items1{
    padding: 0 8px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.nav-items1:hover{
    color: #7e0019;
}
.header-top{
    background: #7e0019;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-menu2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
}
.nav-items2{
    padding: 0 12px;
    font-weight: bold;
    font-size: 14px;
}
.nav-items2:hover{
    color: #7e0019;
}
.banner2{
    text-align: center;
    padding: 30px;
}
.top-all-section{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.icon-menu{
    display: flex;
    align-items: center;
}
.icon{
    display: flex;
    height: 23px;
    width: 26px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.icon1{
    background: white;
    height: 3px;
    width: 26px;
    margin:auto;
}
.menu1{
    font-weight: 600;
    color: white;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
}
.center-section{
    width: 500px;
    height: 100%;
    text-align: center;
}
.logo-info{
    color: white;
    font-weight: 600;
    font-size: 40px;
}
.logo-info2{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
}
.icon-menu2{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang{
    color: white;
    font-size: 14px;
    font-weight: 800;
    width: 100px;
    height: 15px;
    text-align: center;
}
.button{
    display: flex;
    background: #7e0019;
    width: 90px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.button-text {
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
}
.header2{
    height: 450px;
    width: 100%;
    background: #3b3b3e;
    box-sizing: border-box;
    padding-left: 150px;
    padding-right: 150px;
}
.header-top2{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid silver;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
.left img{
    width: 231px;
    height: 163px;
}
.right{
    width: 100%;
    height: 200px;
    padding-left: 30px;
}
.text-right1{
    color: white;
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 20px;
}
.text-right2{
    color: white;
    font-size: 24px;
}
.header-bottom{
    display: flex;
    height: 200px;
    width: 100%;
    color: white;
    font-size: 26px;
    font-weight: bold;
    align-items: center;
}
.text1{
    height: 150px;
    width: 25%;
    padding: 0 10px;
    border-right: 1px solid silver;
    display: flex;
    justify-content: space-between;
}
.text4{
    padding: 0 10px;
    height: 150px;
    width: 25%;
}
.block{
    background: #7e0019;
    height: 20px;
    width: 60px;
}